name: Akeneo CE CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: mbstring, intl, pdo_mysql
          coverage: none

      - name: Validate composer.json and composer.lock
        run: composer validate --no-check-all

      - name: Install PHP dependencies
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: Basic PHP lint
        run: |
          find src -type f -name "*.php" -print0 | xargs -0 -n 10 php -l
